.history/
.env
.DS_Store
__pycache__/

# next.js
.next/
/out/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts


node_modules/

backend/app/model/tts/*/
!backend/app/model/tts/.gitkeep
